version: "3.9"

services:
  omniapotentia-portfolio-frontend:
    container_name: omniapotentia-portfolio-frontend
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    networks:
      - web
    expose:
      - "3000"

networks:
  web:
    external: true
